@inherits LayoutComponentBase

<div class="h-screen flex flex-col">

    <div class="flex h-full">
        <main class=" flex-1 overflow-y-auto py-4 px-6 bg-base-200">
            @Body
        </main>
    </div>
</div>