@inherits LayoutComponentBase

<div
    class="flex flex-col h-full max-w-5xl mx-auto w-full shadow-[0_25px_25px_#000]">
    <div class="bg-base01 px-4 py-2 flex gap-4 justify-center w-full">
        <div class="flex flex-row text-base3 text-sm justify-between w-full">
            <span>Entrance Hall</span>
            <span>Score: <span>000246</span></span>
        </div>
    </div>

    <div class="flex-1 overflow-hidden bg-base02 p-2">
        @Body   
    </div>

    <div class="bg-base02 border-t-2 border-base01 p-4">
        <div class="flex items-center text-base3 placeholder-base1">
            <span class="text-green font-bold mr-2">></span>
            <input
                type="text"
                class="flex-1 bg-transparent outline-none"
                placeholder="Enter command..."
                autocomplete="off"
                spellcheck="false">
        </div>
    </div>
</div>

<HeadContent>
    
</HeadContent>