@page "/"

<PageTitle>Tower of Delusion</PageTitle>

<div class="terminal-output h-full overflow-y-auto">
    <div class="mb-2">
        <p class="text-cyan whitespace-pre-wrap px-4">
            You are standing in an open field west of a white house, with a boarded front door.
            There is a small mailbox here.
        </p>
    </div>
</div>